<html>

<head>

<title>basilica</title>

</head>

<body>
    <h1>Basilica di San Lorenzo Maggiore</h1>
    <p>Quattro torri campanarie e una straordinaria cupola ottagonale sono gli elementi caratterizzanti della Basilica di San Lorenzo Maggiore, che rappresenta uno dei massimi complessi monumentali cittadini. La costruzione dell’imponente chiesa paleocristiana a pianta centrale risale al V secolo, ma nel tempo è stata sottoposta e diversi restauri e rifacimenti, tra cui quello cinquecentesco al quale si deve l’aspetto attuale. Fanno da corona al corpo centrale le cappelle di Sant’Ippolito, San Sisto e Sant’Aquilino. </p>
</body>

</html>