<html>

<head>

<title>duomo</title>

</head>

<body>

    <h1>Duomo</h1>
    <p>Con la sua iconica facciata e la selva di guglie e pinnacoli, il Duomo è il simbolo indiscusso di Milano. Quello che colpisce della Cattedrale tardogotica iniziata nel XIV secolo per volere del duca Gian Galeazzo Visconti, sono le sue straordinarie dimensioni, che ne fanno una delle chiese più grandi del mondo. Misura infatti la bellezza di 158 metri di lunghezza per 93 di larghezza. La facciata in luminoso marmo di Candoja, realizzata nell’800 sotto Napoleone, contrasta con l’interno a croce latina, sorretto da 52 pilastri monumentali e rischiarato dalle splendide vetrate istoriate del XVI secolo. Da non perdere l’occasione di salire sulle terrazze del Duomo, su cui svetta la celebre statua della Madonnina e la vista spazia sull’arco alpino.</p>
</body>

</html>