<html>

<head>

<title>galleria</title>

</head>

<body>

<h1>Galleria Vittorio Emanuele II</h1>
<p>Il “salotto” di Milano collega piazza del Duomo con piazza della Scala e quando fu costruita, nel 1865 su progetto dell’architetto Giuseppe Mengoni, era la più grande galleria commerciale d’Europa. Gli ingressi principali sono delimitati da due monumentali archi trionfali e il passaggio su cui si affacciano caffè, ristoranti e boutique di lusso è sormontato da una copertura in ferro e vetro che culmina in una cupola di 39 metri di diametro.</p>
</body>

</html>