<html>

<head>

<title>Immagini</title>

</head>

<body>
    <a href="/duomo"><img src="{{url_for('static', filename='images/duomo.jpg')}}" align="middle" style = "height: 500;" /></a>
    <a href="/santamaria"><img src="{{url_for('static', filename='images/santaMaria.jpg')}}" align="middle" style = "height: 500;" /></a>
    <a href="/basilica"><img src="{{url_for('static', filename='images/basilicaSanLorenzo.jpg')}}" align="middle" style = "height: 500;" /></a>
    <a href="/galleria"><img src="{{url_for('static', filename='images/galleria.jpg')}}" align="middle" style = "height: 500;" /></a>
</body>

</html>