<html>

<head>

<title>santaMaria</title>

</head>

<body>
    <h1>Complesso di Santa Maria delle Grazie</h1>
    <p>La grandiosa cupola emisferica del Bramante è, a prima vista, l’elemento di maggiore impatto del complesso di Santa Maria delle Grazie, dichiarato Patrimonio dell’Umanità dell’UNESCO nel 1980. Ma la vera attrazione dell’ex monastero domenicano è l’Ultima Cena, capolavoro assoluto di Leonardo da Vinci, che impreziosisce una parete del refettorio situato a fianco del Chiostro dei Morti. La chiesa tardogotica in mattoni fu iniziata intorno al 1465 da Guiniforte Solari, al quale in seguito per volere di Ludovico il Moro subentra il Bramante che interviene sulla parte absidale e realizza la magnifica cupola emisferica. Il complesso comprende anche il chiostrino e la sagrestia vecchia.</p>
</body>

</html>